/* AUTH PANEL */
.panel-auth {
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  opacity: 1;
  z-index: 99997;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Roboto:300&display=swap');

.navbar-brand {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #2c3e50;
    background-color: #090909;
}

/* NAVBAR */
.navbar-inverse {
    background-color: #18bc9c;
    border-color: #fff;
}

.navbar-logo {
    width: 50px;
}


/* SIDEBAR */
.section.sidebar {
    background-color: #090909;
}

@media screen and (min-width: 767px) {
    #dashboard-container {
        padding-left: 350px !important;
    }
    
    .sidebar {
        width: 350px !important;
    }
}


@media screen and (max-width: 767px) {
    .chart-shim {
        overflow-y: scroll;
    }
    .level3:first-child { 
      background-color: #090909;
    }
}



/* SWITCH */
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success {
    color: #fff;
    background: #18bc9c;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    color: #fff;
    background: #2c3e50;
}

/* BUTTONS */
.btn-default {
    color: #ffffff;
    background-color: #2c3e50;
    border-color: #2c3e50
}

.btn-default:focus,.btn-default.focus {
    color: #ffffff;
    background-color: #233140;
    border-color: #233140
}

.btn-default:hover {
    color: #ffffff;
    background-color: #233140;
    border-color: #233140
}

.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #233140;
    border-color: #233140
}

.btn-default:active:hover,.btn-default.active:hover,.open>.dropdown-toggle.btn-default:hover,.btn-default:active:focus,.btn-default.active:focus,.open>.dropdown-toggle.btn-default:focus,.btn-default:active.focus,.btn-default.active.focus,.open>.dropdown-toggle.btn-default.focus {
    color: #ffffff;
    background-color: #233140;
    border-color: #233140
}

.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
    background-image: none
}

.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default.focus {
    background-color: #222222;
    border-color: #222222
}

.btn-default .badge {
    color: #222222;
    background-color: #ffffff
}


/* BUTTON - SUCCESS */

.btn-success {
    color: #ffffff;
    background-color: #18BC9C;
    border-color: #18BC9C
}

.btn-success:focus,.btn-success.focus {
    color: #ffffff;
    background-color: #16AB8E;
    border-color: #16AB8E
}

.btn-success:hover {
    color: #ffffff;
    background-color: #16AB8E;
    border-color: #16AB8E
}

.btn-success:active,.btn-success.active,.open>.dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #16AB8E;
    border-color: #16AB8E
}

.btn-success:active:hover,.btn-success.active:hover,.open>.dropdown-toggle.btn-success:hover,.btn-success:active:focus,.btn-success.active:focus,.open>.dropdown-toggle.btn-success:focus,.btn-success:active.focus,.btn-success.active.focus,.open>.dropdown-toggle.btn-success.focus {
    color: #ffffff;
    background-color: #16AB8E;
    border-color: #16AB8E
}

.btn-success:active,.btn-success.active,.open>.dropdown-toggle.btn-success {
    background-image: none
}

.btn-success.disabled:hover,.btn-success[disabled]:hover,fieldset[disabled] .btn-success:hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,.btn-success.disabled.focus,.btn-success[disabled].focus,fieldset[disabled] .btn-success.focus {
    background-color: #3fb618;
    border-color: #3fb618
}

.btn-success .badge {
    color: #3fb618;
    background-color: #ffffff
}

/* VALUE BOXES */

.bg-danger {
    background-color: #E31A1C;
}

.bg-success {
    background-color: #18bc9c;
}

.bg-warning {
    background-color: #FF7F00;
}




